body {
    padding:1rem;
    margin: 2rem;
    display: block;
    background-color: whitesmoke;
}

h1,h2 {
    text-align: center;
}

input {
    padding: .3rem;
    margin: 1rem;
}

button {
    margin: 1rem;
}

table, th, td {
    border: 1px solid;
    padding: .6rem;
}

.container {
    background-color: rgb(246, 232, 209);
    border: solid 1px;
    max-width:40%;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
}

.title {
    margin: 0;
    padding: 0;
}

label {
    font-weight: bold;
}